<!-- بسم الله الرحمن الرحیم -->

<block-simple-button #GetUsersInfoButton
    *ngIf="!userInfo$"
    title="Get Users Info"
    (click)="getUser()"></block-simple-button>

<h4 *ngIf="userInfo$">Users Information:</h4>

<table *ngIf="userInfo$">

    <tr>

        <th style="max-width: 13px;">Row</th>

        <th>User Name</th>

        <th>Email</th>

    </tr>


    <tr *ngFor="let user of userInfo$ | async; index as i;">

        <td>{{i + 1}}</td>

        <td>{{user.username}}</td>

        <td>{{user.email}}</td>

    </tr>

</table>