/* بسم الله الرحمن الرحیم */

.block-header {
    padding: 1rem 2rem;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    min-height: 10vh;

    .block-title {
        font-size: x-large;
        display: inline-flex;
        align-items: center !important;
        color: black;
    }
}