<!-- بسم الله الرحمن الرحیم -->

<div id="container">

    <div id="header">

        <block-header></block-header>

        <div class="menu">

            <nav class="menu-right">

                <a routerLink="/home"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page">
                    HOME
                </a>

                <a routerLink="/report"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page">
                    REPORT
                </a>

            </nav>

        </div>

    </div>

    <div id="body">

        <router-outlet></router-outlet>

    </div>

    <div id="footer">

        <block-footer></block-footer>

    </div>

</div>